.container {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    height: 100vh;
    gap: 25px;
    place-content: space-between flex-end;
}

[class ^="box-"] {
    width: 300px;
    height: 400px;
    background-color: skyblue;
    border: 2px solid black;

    /* for better readability */
    font-size: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1{
    flex: 0 1 0;
}

.box-2{
    flex: 0 3 auto;
}

.box-3{
    flex: 0 1 auto;
}

