.container {
    display: flex;
    height: 100vh;
    gap: 25px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

[class ^="box-"] {
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;

    /* for better readability */
    font-size: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
}